In [39]:
import pandas as pd
import numpy as np

In [40]:
file=pd.read_csv('Admission_Predict_Ver1.1.csv')

In [41]:
file

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65
...,...,...,...,...,...,...,...,...,...
495,496,332,108,5,4.5,4.0,9.02,1,0.87
496,497,337,117,5,5.0,5.0,9.87,1,0.96
497,498,330,120,5,4.5,5.0,9.56,1,0.93
498,499,312,103,4,4.0,5.0,8.43,0,0.73
499,500,327,113,4,4.5,4.5,9.04,0,0.84

In [42]:
file.shape

(500, 9)

In [43]:
file.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Serial No.         500 non-null    int64
 1   GRE Score          500 non-null    int64
 2   TOEFL Score        500 non-null    int64
 3   University Rating  500 non-null    int64
 4   SOP                500 non-null    float64
 5   LOR                500 non-null    float64
 6   CGPA               500 non-null    float64
 7   Research           500 non-null    int64
 8   Chance of Admit    500 non-null    float64
dtypes: float64(4), int64(5)
memory usage: 35.3 KB

In [44]:
file.duplicated().sum()

0

In [45]:
file.drop(columns=['Serial No.'],inplace=True)

In [46]:
file

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,337,118,4,4.5,4.5,9.65,1,0.92
1,324,107,4,4.0,4.5,8.87,1,0.76
2,316,104,3,3.0,3.5,8.00,1,0.72
3,322,110,3,3.5,2.5,8.67,1,0.80
4,314,103,2,2.0,3.0,8.21,0,0.65
...,...,...,...,...,...,...,...,...
495,332,108,5,4.5,4.0,9.02,1,0.87
496,337,117,5,5.0,5.0,9.87,1,0.96
497,330,120,5,4.5,5.0,9.56,1,0.93
498,312,103,4,4.0,5.0,8.43,0,0.73
499,327,113,4,4.5,4.5,9.04,0,0.84

In [47]:
x=file.iloc[:,0:-1]

In [48]:
y=file.iloc[:,-1]

In [49]:
x

     GRE Score  TOEFL Score  University Rating  SOP  LOR   CGPA  Research
0          337          118                  4  4.5   4.5  9.65         1
1          324          107                  4  4.0   4.5  8.87         1
2          316          104                  3  3.0   3.5  8.00         1
3          322          110                  3  3.5   2.5  8.67         1
4          314          103                  2  2.0   3.0  8.21         0
..         ...          ...                ...  ...   ...   ...       ...
495        332          108                  5  4.5   4.0  9.02         1
496        337          117                  5  5.0   5.0  9.87         1
497        330          120                  5  4.5   5.0  9.56         1
498        312          103                  4  4.0   5.0  8.43         0
499        327          113                  4  4.5   4.5  9.04         0

[500 rows x 7 columns]

In [50]:
y

0      0.92
1      0.76
2      0.72
3      0.80
4      0.65
       ...
495    0.87
496    0.96
497    0.93
498    0.73
499    0.84
Name: Chance of Admit , Length: 500, dtype: float64

In [51]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=1)

In [52]:
x_train

     GRE Score  TOEFL Score  University Rating  SOP  LOR   CGPA  Research
238        310          104                  3  2.0   3.5  8.37         0
438        318          110                  1  2.5   3.5  8.54         1
475        300          101                  3  3.5   2.5  7.88         0
58         300           99                  1  3.0   2.0  6.80         1
380        322          104                  3  3.5   4.0  8.84         1
..         ...          ...                ...  ...   ...   ...       ...
255        307          110                  4  4.0   4.5  8.37         0
72         321          111                  5  5.0   5.0  9.45         1
396        325          107                  3  3.0   3.5  9.11         1
235        326          111                  5  4.5   4.0  9.23         1
37         300          105                  1  1.0   2.0  7.80         0

[400 rows x 7 columns]

In [53]:
x_test

     GRE Score  TOEFL Score  University Rating  SOP  LOR   CGPA  Research
304        313          106                  2  2.5   2.0  8.43         0
340        312          107                  3  3.0   3.0  8.46         1
47         339          119                  5  4.5   4.0  9.70         0
67         316          107                  2  3.5   3.5  8.64         1
479        325          110                  4  4.5   4.0  8.96         1
..         ...          ...                ...  ...   ...   ...       ...
11         327          111                  4  4.0   4.5  9.00         1
192        322          114                  5  4.5   4.0  8.94         1
92         298           98                  2  4.0   3.0  8.03         0
221        316          110                  3  3.5   4.0  8.56         0
110        305          108                  5  3.0   3.0  8.48         0

[100 rows x 7 columns]

In [54]:
y_train.shape

(400,)

In [55]:
y_test.shape

(100,)

In [56]:
from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler()

In [57]:
x_train_scaled=scaler.fit_transform(x_train)

In [58]:
x_test_scaled=scaler.fit_transform(x_test)

In [59]:
x_train_scaled

array([[0.4       , 0.42857143, 0.5       , ..., 0.57142857, 0.50320513,
        0.        ],
       [0.56      , 0.64285714, 0.        , ..., 0.57142857, 0.55769231,
        1.        ],
       [0.2       , 0.32142857, 0.5       , ..., 0.28571429, 0.34615385,
        0.        ],
       ...,
       [0.7       , 0.53571429, 0.5       , ..., 0.57142857, 0.74038462,
        1.        ],
       [0.72      , 0.67857143, 1.        , ..., 0.71428571, 0.77884615,
        1.        ],
       [0.2       , 0.46428571, 0.        , ..., 0.14285714, 0.32051282,
        0.        ]])

In [60]:
x_test_scaled

array([[0.46      , 0.48      , 0.25      , 0.375     , 0.25      ,
        0.44140625, 0.        ],
       [0.44      , 0.52      , 0.5       , 0.5       , 0.5       ,
        0.453125  , 1.        ],
       [0.98      , 1.        , 1.        , 0.875     , 0.75      ,
        0.9375    , 0.        ],
       [0.52      , 0.52      , 0.25      , 0.625     , 0.625     ,
        0.5234375 , 1.        ],
       [0.7       , 0.64      , 0.75      , 0.875     , 0.75      ,
        0.6484375 , 1.        ],
       [0.42      , 0.28      , 0.25      , 0.375     , 0.625     ,
        0.40625   , 1.        ],
       [0.6       , 0.4       , 0.5       , 0.5       , 0.625     ,
        0.5625    , 1.        ],
       [0.74      , 0.36      , 0.5       , 0.75      , 0.75      ,
        0.390625  , 1.        ],
       [0.62      , 0.68      , 0.5       , 0.625     , 0.75      ,
        0.59765625, 1.        ],
       [0.56      , 0.48      , 0.25      , 0.75      , 0.75      ,
        0.2421875 , 1.        ],
       [0.48      , 0.52      , 0.25      , 0.375     , 0.75      ,
        0.37890625, 0.        ],
       [0.06      , 0.12      , 0.25      , 0.25      , 0.75      ,
        0.1953125 , 1.        ],
       [0.74      , 0.4       , 1.        , 0.5       , 0.625     ,
        0.6015625 , 1.        ],
       [0.74      , 0.8       , 0.5       , 0.5       , 0.5       ,
        0.671875  , 0.        ],
       [0.62      , 0.6       , 0.5       , 0.625     , 0.625     ,
        0.5859375 , 1.        ],
       [0.68      , 0.72      , 1.        , 1.        , 1.        ,
        0.6953125 , 1.        ],
       [0.32      , 0.36      , 0.5       , 0.625     , 0.5       ,
        0.35546875, 0.        ],
       [0.46      , 0.6       , 0.5       , 0.75      , 0.625     ,
        0.6640625 , 0.        ],
       [0.82      , 0.84      , 1.        , 0.75      , 0.625     ,
        0.8359375 , 1.        ],
       [0.5       , 0.44      , 0.5       , 0.25      , 0.375     ,
        0.4609375 , 0.        ],
       [0.44      , 0.16      , 0.        , 0.625     , 0.5       ,
        0.34375   , 1.        ],
       [0.42      , 0.52      , 0.75      , 0.875     , 0.875     ,
        0.6640625 , 1.        ],
       [0.76      , 0.56      , 0.75      , 0.875     , 0.75      ,
        0.734375  , 1.        ],
       [0.16      , 0.28      , 0.75      , 0.375     , 0.875     ,
        0.15234375, 1.        ],
       [0.7       , 0.72      , 0.75      , 0.625     , 0.625     ,
        0.6328125 , 0.        ],
       [0.5       , 0.44      , 0.25      , 0.25      , 0.375     ,
        0.13671875, 0.        ],
       [0.82      , 0.72      , 1.        , 0.75      , 1.        ,
        0.9765625 , 1.        ],
       [0.36      , 0.48      , 0.5       , 0.5       , 0.5       ,
        0.3671875 , 0.        ],
       [0.66      , 0.76      , 0.75      , 0.75      , 0.875     ,
        0.75390625, 1.        ],
       [0.5       , 0.64      , 0.25      , 0.625     , 0.5       ,
        0.453125  , 1.        ],
       [0.34      , 0.32      , 0.5       , 0.5       , 0.5       ,
        0.37890625, 0.        ],
       [0.66      , 0.64      , 0.5       , 0.75      , 0.625     ,
        0.703125  , 1.        ],
       [0.28      , 0.24      , 0.25      , 0.375     , 0.625     ,
        0.30078125, 0.        ],
       [0.82      , 0.88      , 0.75      , 0.875     , 0.875     ,
        0.8359375 , 1.        ],
       [0.52      , 0.16      , 0.        , 0.125     , 0.25      ,
        0.05078125, 0.        ],
       [0.72      , 0.72      , 0.5       , 0.625     , 0.5       ,
        0.703125  , 1.        ],
       [0.6       , 0.28      , 0.25      , 0.375     , 0.5       ,
        0.515625  , 0.        ],
       [0.48      , 0.36      , 0.25      , 0.25      , 0.5       ,
        0.35546875, 0.        ],
       [0.5       , 0.44      , 0.25      , 0.5       , 0.5       ,
        0.40625   , 0.        ],
       [0.88      , 0.88      , 0.75      , 0.75      , 0.625     ,
        0.875     , 1.        ],
       [0.18      , 0.24      , 0.5       , 0.25      , 0.25      ,
        0.28125   , 0.        ],
       [0.42      , 0.4       , 0.5       , 0.75      , 0.625     ,
        0.32421875, 1.        ],
       [0.56      , 0.28      , 1.        , 0.625     , 1.        ,
        0.578125  , 1.        ],
       [0.86      , 1.        , 1.        , 1.        , 0.875     ,
        0.96875   , 1.        ],
       [0.74      , 0.76      , 0.5       , 0.625     , 0.5       ,
        0.53125   , 1.        ],
       [0.14      , 0.08      , 0.25      , 0.375     , 0.125     ,
        0.23046875, 0.        ],
       [0.54      , 0.24      , 0.25      , 0.5       , 0.375     ,
        0.49609375, 0.        ],
       [0.5       , 0.4       , 0.5       , 0.75      , 0.375     ,
        0.3125    , 0.        ],
       [0.64      , 0.36      , 0.75      , 0.5       , 0.375     ,
        0.28125   , 1.        ],
       [0.48      , 0.48      , 0.25      , 0.75      , 0.625     ,
        0.37109375, 0.        ],
       [0.78      , 0.68      , 0.75      , 0.875     , 0.75      ,
        0.66796875, 1.        ],
       [0.82      , 0.92      , 0.75      , 0.875     , 1.        ,
        0.828125  , 1.        ],
       [0.8       , 0.84      , 1.        , 0.875     , 0.5       ,
        0.796875  , 1.        ],
       [0.36      , 0.32      , 0.25      , 0.25      , 0.625     ,
        0.265625  , 1.        ],
       [0.5       , 0.28      , 0.5       , 0.625     , 0.875     ,
        0.71484375, 0.        ],
       [0.28      , 0.44      , 0.25      , 0.5       , 0.5       ,
        0.3515625 , 1.        ],
       [0.44      , 0.52      , 0.75      , 0.875     , 0.75      ,
        0.52734375, 1.        ],
       [0.38      , 0.48      , 0.25      , 0.375     , 0.375     ,
        0.2734375 , 0.        ],
       [0.58      , 0.48      , 0.5       , 0.75      , 0.5       ,
        0.2734375 , 1.        ],
       [0.56      , 0.52      , 0.5       , 0.5       , 0.625     ,
        0.37890625, 1.        ],
       [0.18      , 0.        , 0.        , 0.        , 0.        ,
        0.015625  , 0.        ],
       [0.58      , 0.36      , 0.75      , 0.875     , 0.625     ,
        0.53125   , 0.        ],
       [0.68      , 0.24      , 0.5       , 0.75      , 1.        ,
        0.5234375 , 1.        ],
       [0.8       , 0.8       , 0.75      , 0.875     , 0.5       ,
        0.73046875, 1.        ],
       [0.9       , 0.92      , 1.        , 1.        , 1.        ,
        0.984375  , 1.        ],
       [0.36      , 0.4       , 0.25      , 0.375     , 0.5       ,
        0.30078125, 0.        ],
       [0.6       , 0.56      , 0.5       , 0.625     , 0.75      ,
        0.4453125 , 1.        ],
       [0.68      , 0.52      , 1.        , 0.625     , 0.75      ,
        0.53125   , 1.        ],
       [1.        , 0.72      , 0.75      , 1.        , 0.875     ,
        0.921875  , 1.        ],
       [0.56      , 0.6       , 0.5       , 0.5       , 0.5       ,
        0.46875   , 0.        ],
       [0.3       , 0.32      , 0.25      , 0.25      , 0.375     ,
        0.34375   , 0.        ],
       [0.5       , 0.4       , 0.5       , 0.5       , 0.375     ,
        0.40234375, 0.        ],
       [0.72      , 0.8       , 0.5       , 0.5       , 0.5       ,
        0.70703125, 1.        ],
       [0.4       , 0.2       , 0.25      , 0.125     , 0.25      ,
        0.        , 0.        ],
       [0.96      , 0.92      , 0.75      , 0.625     , 0.875     ,
        0.84375   , 1.        ],
       [0.28      , 0.52      , 0.5       , 0.625     , 0.5       ,
        0.21875   , 0.        ],
       [0.84      , 0.56      , 1.        , 0.875     , 0.75      ,
        0.671875  , 1.        ],
       [0.66      , 0.68      , 1.        , 0.75      , 1.        ,
        1.        , 1.        ],
       [0.6       , 0.4       , 0.5       , 0.5       , 0.375     ,
        0.49609375, 1.        ],
       [0.48      , 0.6       , 0.75      , 0.625     , 0.75      ,
        0.57421875, 1.        ],
       [0.74      , 0.56      , 1.        , 1.        , 0.625     ,
        0.71484375, 1.        ],
       [0.        , 0.4       , 0.75      , 0.25      , 0.375     ,
        0.0625    , 0.        ],
       [0.9       , 0.96      , 1.        , 0.875     , 0.625     ,
        0.8359375 , 1.        ],
       [0.74      , 0.48      , 0.75      , 0.75      , 0.875     ,
        0.56640625, 1.        ],
       [0.64      , 0.64      , 1.        , 0.875     , 0.75      ,
        0.65234375, 0.        ],
       [0.36      , 0.6       , 0.25      , 0.5       , 0.75      ,
        0.44921875, 0.        ],
       [0.68      , 0.76      , 1.        , 0.75      , 1.        ,
        0.76171875, 1.        ],
       [0.82      , 0.88      , 1.        , 0.75      , 0.75      ,
        0.765625  , 1.        ],
       [0.14      , 0.2       , 0.75      , 0.5       , 0.625     ,
        0.19921875, 0.        ],
       [0.28      , 0.4       , 0.5       , 0.375     , 0.25      ,
        0.3203125 , 0.        ],
       [0.38      , 0.44      , 0.75      , 0.625     , 0.25      ,
        0.34375   , 0.        ],
       [0.62      , 0.32      , 0.5       , 0.625     , 0.75      ,
        0.66796875, 1.        ],
       [0.52      , 0.36      , 0.5       , 0.625     , 0.25      ,
        0.1484375 , 0.        ],
       [0.62      , 0.6       , 0.5       , 0.5       , 0.75      ,
        0.3515625 , 1.        ],
       [0.64      , 0.72      , 0.75      , 0.625     , 0.375     ,
        0.671875  , 1.        ],
       [0.74      , 0.68      , 0.75      , 0.75      , 0.875     ,
        0.6640625 , 1.        ],
       [0.64      , 0.8       , 1.        , 0.875     , 0.75      ,
        0.640625  , 1.        ],
       [0.16      , 0.16      , 0.25      , 0.75      , 0.5       ,
        0.28515625, 0.        ],
       [0.52      , 0.64      , 0.5       , 0.625     , 0.75      ,
        0.4921875 , 0.        ],
       [0.3       , 0.56      , 1.        , 0.5       , 0.5       ,
        0.4609375 , 0.        ]])

In [61]:
import tensorflow
from tensorflow import keras
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense

In [62]:
model=Sequential()

In [63]:
model.add(Dense(7,activation='relu',input_dim=7))
model.add(Dense(7,activation='relu'))
model.add(Dense(1,activation='linear'))

In [64]:
model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 7)                 56

 dense_4 (Dense)             (None, 7)                 56

 dense_5 (Dense)             (None, 1)                 8

=================================================================
Total params: 120
Trainable params: 120
Non-trainable params: 0
_________________________________________________________________

In [65]:
model.compile(optimizer='Adam',loss='mean_squared_error',metrics='accuracy')

In [ ]:
Model=model.fit(x_train_scaled,y_train,epochs=100,validation_split=0.2)

Epoch 1/100
10/10 [==============================] - 1s 37ms/step - loss: 0.3427 - accuracy: 0.0000e+00 - val_loss: 0.3316 - val_accuracy: 0.0000e+00
Epoch 2/100
10/10 [==============================] - 0s 16ms/step - loss: 0.2600 - accuracy: 0.0000e+00 - val_loss: 0.2493 - val_accuracy: 0.0000e+00
Epoch 3/100
10/10 [==============================] - 0s 20ms/step - loss: 0.1863 - accuracy: 0.0000e+00 - val_loss: 0.1749 - val_accuracy: 0.0000e+00
Epoch 4/100
10/10 [==============================] - 0s 13ms/step - loss: 0.1228 - accuracy: 0.0000e+00 - val_loss: 0.1117 - val_accuracy: 0.0000e+00
Epoch 5/100
10/10 [==============================] - 0s 11ms/step - loss: 0.0733 - accuracy: 0.0000e+00 - val_loss: 0.0657 - val_accuracy: 0.0000e+00
Epoch 6/100
10/10 [==============================] - 0s 11ms/step - loss: 0.0410 - accuracy: 0.0000e+00 - val_loss: 0.0376 - val_accuracy: 0.0000e+00
Epoch 7/100
10/10 [==============================] - 0s 7ms/step - loss: 0.0237 - accuracy: 0.0000e+00 - val_loss: 0.0246 - val_accuracy: 0.0000e+00
Epoch 8/100
10/10 [==============================] - 0s 7ms/step - loss: 0.0173 - accuracy: 0.0000e+00 - val_loss: 0.0200 - val_accuracy: 0.0000e+00
Epoch 9/100
10/10 [==============================] - 0s 8ms/step - loss: 0.0159 - accuracy: 0.0000e+00 - val_loss: 0.0182 - val_accuracy: 0.0000e+00
Epoch 10/100
10/10 [==============================] - 0s 7ms/step - loss: 0.0151 - accuracy: 0.0000e+00 - val_loss: 0.0169 - val_accuracy: 0.0000e+00
Epoch 11/100
10/10 [==============================] - 0s 8ms/step - loss: 0.0141 - accuracy: 0.0000e+00 - val_loss: 0.0159 - val_accuracy: 0.0000e+00
Epoch 12/100
10/10 [==============================] - 0s 6ms/step - loss: 0.0133 - accuracy: 0.0000e+00 - val_loss: 0.0150 - val_accuracy: 0.0000e+00
Epoch 13/100
10/10 [==============================] - 0s 8ms/step - loss: 0.0126 - accuracy: 0.0000e+00 - val_loss: 0.0143 - val_accuracy: 0.0000e+00
Epoch 14/100
10/10 [==============================] - 0s 6ms/step - loss: 0.0120 - accuracy: 0.0000e+00 - val_loss: 0.0135 - val_accuracy: 0.0000e+00
Epoch 15/100
10/10 [==============================] - 0s 7ms/step - loss: 0.0115 - accuracy: 0.0000e+00 - val_loss: 0.0127 - val_accuracy: 0.0000e+00
Epoch 16/100
10/10 [==============================] - 0s 8ms/step - loss: 0.0110 - accuracy: 0.0000e+00 - val_loss: 0.0121 - val_accuracy: 0.0000e+00
Epoch 17/100
10/10 [==============================] - 0s 9ms/step - loss: 0.0105 - accuracy: 0.0000e+00 - val_loss: 0.0116 - val_accuracy: 0.0000e+00
Epoch 18/100
10/10 [==============================] - 0s 9ms/step - loss: 0.0101 - accuracy: 0.0000e+00 - val_loss: 0.0111 - val_accuracy: 0.0000e+00
Epoch 19/100
10/10 [==============================] - 0s 9ms/step - loss: 0.0098 - accuracy: 0.0000e+00 - val_loss: 0.0106 - val_accuracy: 0.0000e+00
Epoch 20/100
10/10 [==============================] - 0s 9ms/step - loss: 0.0095 - accuracy: 0.0000e+00 - val_loss: 0.0102 - val_accuracy: 0.0000e+00
Epoch 21/100
10/10 [==============================] - 0s 9ms/step - loss: 0.0092 - accuracy: 0.0000e+00 - val_loss: 0.0098 - val_accuracy: 0.0000e+00
Epoch 22/100
10/10 [==============================] - 0s 10ms/step - loss: 0.0089 - accuracy: 0.0000e+00 - val_loss: 0.0096 - val_accuracy: 0.0000e+00
Epoch 23/100
10/10 [==============================] - 0s 9ms/step - loss: 0.0087 - accuracy: 0.0000e+00 - val_loss: 0.0092 - val_accuracy: 0.0000e+00
Epoch 24/100
10/10 [==============================] - 0s 9ms/step - loss: 0.0085 - accuracy: 0.0000e+00 - val_loss: 0.0089 - val_accuracy: 0.0000e+00
Epoch 25/100
10/10 [==============================] - 0s 9ms/step - loss: 0.0083 - accuracy: 0.0000e+00 - val_loss: 0.0087 - val_accuracy: 0.0000e+00
Epoch 26/100
10/10 [==============================] - 0s 11ms/step - loss: 0.0081 - accuracy: 0.0000e+00 - val_loss: 0.0085 - val_accuracy: 0.0000e+00
Epoch 27/100
10/10 [==============================] - 0s 8ms/step - loss: 0.0079 - accuracy: 0.0000e+00 - val_loss: 0.0083 - val_accuracy: 0.0000e+00
Epoch 28/100
10/10 [==============================] - 0s 8ms/step - loss: 0.0078 - accuracy: 0.0000e+00 - val_loss: 0.0080 - val_accuracy: 0.0000e+00
Epoch 29/100
10/10 [==============================] - 0s 7ms/step - loss: 0.0076 - accuracy: 0.0000e+00 - val_loss: 0.0078 - val_accuracy: 0.0000e+00
Epoch 30/100
10/10 [==============================] - 0s 7ms/step - loss: 0.0075 - accuracy: 0.0000e+00 - val_loss: 0.0077 - val_accuracy: 0.0000e+00
Epoch 31/100
10/10 [==============================] - 0s 9ms/step - loss: 0.0074 - accuracy: 0.0000e+00 - val_loss: 0.0075 - val_accuracy: 0.0000e+00
Epoch 32/100
10/10 [==============================] - 0s 7ms/step - loss: 0.0072 - accuracy: 0.0000e+00 - val_loss: 0.0074 - val_accuracy: 0.0000e+00
Epoch 33/100
10/10 [==============================] - 0s 8ms/step - loss: 0.0071 - accuracy: 0.0000e+00 - val_loss: 0.0072 - val_accuracy: 0.0000e+00
Epoch 34/100
10/10 [==============================] - 0s 7ms/step - loss: 0.0070 - accuracy: 0.0000e+00 - val_loss: 0.0071 - val_accuracy: 0.0000e+00
Epoch 35/100
10/10 [==============================] - 0s 7ms/step - loss: 0.0069 - accuracy: 0.0000e+00 - val_loss: 0.0069 - val_accuracy: 0.0000e+00
Epoch 36/100
10/10 [==============================] - 0s 9ms/step - loss: 0.0068 - accuracy: 0.0000e+00 - val_loss: 0.0068 - val_accuracy: 0.0000e+00
Epoch 37/100
10/10 [==============================] - 0s 7ms/step - loss: 0.0067 - accuracy: 0.0000e+00 - val_loss: 0.0067 - val_accuracy: 0.0000e+00
Epoch 38/100
10/10 [==============================] - 0s 8ms/step - loss: 0.0066 - accuracy: 0.0000e+00 - val_loss: 0.0066 - val_accuracy: 0.0000e+00
Epoch 39/100
10/10 [==============================] - 0s 6ms/step - loss: 0.0065 - accuracy: 0.0000e+00 - val_loss: 0.0064 - val_accuracy: 0.0000e+00
Epoch 40/100
10/10 [==============================] - 0s 7ms/step - loss: 0.0064 - accuracy: 0.0000e+00 - val_loss: 0.0064 - val_accuracy: 0.0000e+00
Epoch 41/100
10/10 [==============================] - 0s 8ms/step - loss: 0.0063 - accuracy: 0.0000e+00 - val_loss: 0.0063 - val_accuracy: 0.0000e+00
Epoch 42/100
10/10 [==============================] - 0s 7ms/step - loss: 0.0062 - accuracy: 0.0000e+00 - val_loss: 0.0061 - val_accuracy: 0.0000e+00
Epoch 43/100
10/10 [==============================] - 0s 7ms/step - loss: 0.0062 - accuracy: 0.0000e+00 - val_loss: 0.0060 - val_accuracy: 0.0000e+00
Epoch 44/100
10/10 [==============================] - 0s 6ms/step - loss: 0.0061 - accuracy: 0.0000e+00 - val_loss: 0.0060 - val_accuracy: 0.0000e+00
Epoch 45/100
10/10 [==============================] - 0s 7ms/step - loss: 0.0060 - accuracy: 0.0000e+00 - val_loss: 0.0059 - val_accuracy: 0.0000e+00
Epoch 46/100
10/10 [==============================] - 0s 6ms/step - loss: 0.0059 - accuracy: 0.0000e+00 - val_loss: 0.0058 - val_accuracy: 0.0000e+00
Epoch 47/100
10/10 [==============================] - 0s 7ms/step - loss: 0.0059 - accuracy: 0.0000e+00 - val_loss: 0.0057 - val_accuracy: 0.0000e+00
Epoch 48/100
10/10 [==============================] - 0s 7ms/step - loss: 0.0058 - accuracy: 0.0000e+00 - val_loss: 0.0056 - val_accuracy: 0.0000e+00
Epoch 49/100
10/10 [==============================] - 0s 7ms/step - loss: 0.0057 - accuracy: 0.0000e+00 - val_loss: 0.0055 - val_accuracy: 0.0000e+00
Epoch 50/100
10/10 [==============================] - 0s 7ms/step - loss: 0.0057 - accuracy: 0.0000e+00 - val_loss: 0.0055 - val_accuracy: 0.0000e+00
Epoch 51/100
10/10 [==============================] - 0s 8ms/step - loss: 0.0056 - accuracy: 0.0000e+00 - val_loss: 0.0054 - val_accuracy: 0.0000e+00
Epoch 52/100
10/10 [==============================] - 0s 6ms/step - loss: 0.0056 - accuracy: 0.0000e+00 - val_loss: 0.0054 - val_accuracy: 0.0000e+00
Epoch 53/100
10/10 [==============================] - 0s 7ms/step - loss: 0.0055 - accuracy: 0.0000e+00 - val_loss: 0.0053 - val_accuracy: 0.0000e+00
Epoch 54/100
10/10 [==============================] - 0s 9ms/step - loss: 0.0055 - accuracy: 0.0000e+00 - val_loss: 0.0052 - val_accuracy: 0.0000e+00
Epoch 55/100

10/10 [==============================] - 0s 8ms/step - loss: 0.0054 - accuracy: 0.0000e+00 - val_loss: 0.0052 - val_accuracy: 0.0000e+00
Epoch 56/100
10/10 [==============================] - 0s 9ms/step - loss: 0.0054 - accuracy: 0.0000e+00 - val_loss: 0.0051 - val_accuracy: 0.0000e+00
Epoch 57/100
10/10 [==============================] - 0s 8ms/step - loss: 0.0053 - accuracy: 0.0000e+00 - val_loss: 0.0051 - val_accuracy: 0.0000e+00
Epoch 58/100
10/10 [==============================] - 0s 9ms/step - loss: 0.0053 - accuracy: 0.0000e+00 - val_loss: 0.0050 - val_accuracy: 0.0000e+00
Epoch 59/100
10/10 [==============================] - 0s 8ms/step - loss: 0.0052 - accuracy: 0.0000e+00 - val_loss: 0.0050 - val_accuracy: 0.0000e+00
Epoch 60/100
10/10 [==============================] - 0s 9ms/step - loss: 0.0052 - accuracy: 0.0000e+00 - val_loss: 0.0050 - val_accuracy: 0.0000e+00
Epoch 61/100
10/10 [==============================] - 0s 9ms/step - loss: 0.0051 - accuracy: 0.0000e+00 - val_loss: 0.0049 - val_accuracy: 0.0000e+00
Epoch 62/100
10/10 [==============================] - 0s 8ms/step - loss: 0.0051 - accuracy: 0.0000e+00 - val_loss: 0.0049 - val_accuracy: 0.0000e+00
Epoch 63/100
10/10 [==============================] - 0s 8ms/step - loss: 0.0051 - accuracy: 0.0000e+00 - val_loss: 0.0048 - val_accuracy: 0.0000e+00
Epoch 64/100
10/10 [==============================] - 0s 8ms/step - loss: 0.0050 - accuracy: 0.0000e+00 - val_loss: 0.0048 - val_accuracy: 0.0000e+00
Epoch 65/100
10/10 [==============================] - 0s 8ms/step - loss: 0.0050 - accuracy: 0.0000e+00 - val_loss: 0.0047 - val_accuracy: 0.0000e+00
Epoch 66/100
10/10 [==============================] - 0s 8ms/step - loss: 0.0049 - accuracy: 0.0000e+00 - val_loss: 0.0047 - val_accuracy: 0.0000e+00
Epoch 67/100
10/10 [==============================] - 0s 10ms/step - loss: 0.0049 - accuracy: 0.0000e+00 - val_loss: 0.0047 - val_accuracy: 0.0000e+00
Epoch 68/100
10/10 [==============================] - 0s 15ms/step - loss: 0.0049 - accuracy: 0.0000e+00 - val_loss: 0.0046 - val_accuracy: 0.0000e+00
Epoch 69/100
10/10 [==============================] - 0s 8ms/step - loss: 0.0048 - accuracy: 0.0000e+00 - val_loss: 0.0046 - val_accuracy: 0.0000e+00
Epoch 70/100
10/10 [==============================] - 0s 8ms/step - loss: 0.0048 - accuracy: 0.0000e+00 - val_loss: 0.0046 - val_accuracy: 0.0000e+00
Epoch 71/100
10/10 [==============================] - 0s 9ms/step - loss: 0.0048 - accuracy: 0.0000e+00 - val_loss: 0.0045 - val_accuracy: 0.0000e+00
Epoch 72/100
10/10 [==============================] - 0s 8ms/step - loss: 0.0048 - accuracy: 0.0000e+00 - val_loss: 0.0045 - val_accuracy: 0.0000e+00
Epoch 73/100
10/10 [==============================] - 0s 8ms/step - loss: 0.0047 - accuracy: 0.0000e+00 - val_loss: 0.0045 - val_accuracy: 0.0000e+00
Epoch 74/100
10/10 [==============================] - 0s 6ms/step - loss: 0.0047 - accuracy: 0.0000e+00 - val_loss: 0.0045 - val_accuracy: 0.0000e+00
Epoch 75/100
10/10 [==============================] - 0s 9ms/step - loss: 0.0047 - accuracy: 0.0000e+00 - val_loss: 0.0044 - val_accuracy: 0.0000e+00
Epoch 76/100
10/10 [==============================] - 0s 8ms/step - loss: 0.0046 - accuracy: 0.0000e+00 - val_loss: 0.0044 - val_accuracy: 0.0000e+00
Epoch 77/100
10/10 [==============================] - 0s 7ms/step - loss: 0.0047 - accuracy: 0.0000e+00 - val_loss: 0.0045 - val_accuracy: 0.0000e+00
Epoch 78/100
10/10 [==============================] - 0s 8ms/step - loss: 0.0046 - accuracy: 0.0000e+00 - val_loss: 0.0043 - val_accuracy: 0.0000e+00
Epoch 79/100
10/10 [==============================] - 0s 7ms/step - loss: 0.0046 - accuracy: 0.0000e+00 - val_loss: 0.0043 - val_accuracy: 0.0000e+00
Epoch 80/100
10/10 [==============================] - 0s 8ms/step - loss: 0.0046 - accuracy: 0.0000e+00 - val_loss: 0.0043 - val_accuracy: 0.0000e+00
Epoch 81/100
10/10 [==============================] - 0s 7ms/step - loss: 0.0045 - accuracy: 0.0000e+00 - val_loss: 0.0043 - val_accuracy: 0.0000e+00
Epoch 82/100
10/10 [==============================] - 0s 7ms/step - loss: 0.0045 - accuracy: 0.0000e+00 - val_loss: 0.0043 - val_accuracy: 0.0000e+00
Epoch 83/100
10/10 [==============================] - 0s 7ms/step - loss: 0.0045 - accuracy: 0.0000e+00 - val_loss: 0.0043 - val_accuracy: 0.0000e+00
Epoch 84/100
10/10 [==============================] - 0s 7ms/step - loss: 0.0045 - accuracy: 0.0000e+00 - val_loss: 0.0042 - val_accuracy: 0.0000e+00
Epoch 85/100
10/10 [==============================] - 0s 8ms/step - loss: 0.0045 - accuracy: 0.0000e+00 - val_loss: 0.0043 - val_accuracy: 0.0000e+00
Epoch 86/100
10/10 [==============================] - 0s 7ms/step - loss: 0.0044 - accuracy: 0.0000e+00 - val_loss: 0.0042 - val_accuracy: 0.0000e+00
Epoch 87/100
10/10 [==============================] - 0s 7ms/step - loss: 0.0044 - accuracy: 0.0000e+00 - val_loss: 0.0042 - val_accuracy: 0.0000e+00
Epoch 88/100
10/10 [==============================] - 0s 7ms/step - loss: 0.0044 - accuracy: 0.0000e+00 - val_loss: 0.0042 - val_accuracy: 0.0000e+00
Epoch 89/100
10/10 [==============================] - 0s 7ms/step - loss: 0.0044 - accuracy: 0.0000e+00 - val_loss: 0.0042 - val_accuracy: 0.0000e+00
Epoch 90/100
10/10 [==============================] - 0s 8ms/step - loss: 0.0044 - accuracy: 0.0000e+00 - val_loss: 0.0042 - val_accuracy: 0.0000e+00
Epoch 91/100
10/10 [==============================] - 0s 7ms/step - loss: 0.0044 - accuracy: 0.0000e+00 - val_loss: 0.0041 - val_accuracy: 0.0000e+00
Epoch 92/100
10/10 [==============================] - 0s 8ms/step - loss: 0.0043 - accuracy: 0.0000e+00 - val_loss: 0.0041 - val_accuracy: 0.0000e+00
Epoch 93/100
10/10 [==============================] - 0s 7ms/step - loss: 0.0043 - accuracy: 0.0000e+00 - val_loss: 0.0041 - val_accuracy: 0.0000e+00
Epoch 94/100
10/10 [==============================] - 0s 7ms/step - loss: 0.0043 - accuracy: 0.0000e+00 - val_loss: 0.0041 - val_accuracy: 0.0000e+00
Epoch 95/100
10/10 [==============================] - 0s 7ms/step - loss: 0.0043 - accuracy: 0.0000e+00 - val_loss: 0.0042 - val_accuracy: 0.0000e+00
Epoch 96/100
10/10 [==============================] - 0s 6ms/step - loss: 0.0043 - accuracy: 0.0000e+00 - val_loss: 0.0040 - val_accuracy: 0.0000e+00
Epoch 97/100
10/10 [==============================] - 0s 7ms/step - loss: 0.0043 - accuracy: 0.0000e+00 - val_loss: 0.0041 - val_accuracy: 0.0000e+00
Epoch 98/100
10/10 [==============================] - 0s 7ms/step - loss: 0.0043 - accuracy: 0.0000e+00 - val_loss: 0.0041 - val_accuracy: 0.0000e+00
Epoch 99/100
10/10 [==============================] - 0s 7ms/step - loss: 0.0042 - accuracy: 0.0000e+00 - val_loss: 0.0040 - val_accuracy: 0.0000e+00
Epoch 100/100
10/10 [==============================] - 0s 7ms/step - loss: 0.0042 - accuracy: 0.0000e+00 - val_loss: 0.0040 - val_accuracy: 0.0000e+00

In [ ]:
y_predicted=model.predict(x_test_scaled)

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
plt.plot(Model.history['loss'])
plt.plot(Model.history['val_loss'])